@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body{
background: black;
}

#banner {
    background-image: url('../images/banner.jpg');
    height: 80vh;
    width: 100%;
}

#wordsbanner{
    position: absolute;
    text-align: center;
    margin-left: 15%;
    margin-top: 13%;
    font-size: 900%;
    color: white;
}

.menu{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-right: 20px;
}

.navMenu a {
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 80px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-top: 10px;
    justify-content: space-evenly;
  }

  .navMenu a:hover {
    color: red;
  }
  
  .navMenu .dot {
    width: 6px;
    height: 6px;
    background: red;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu a:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(110px);
    transform: translateX(110px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(4):hover ~ .dot {
    -webkit-transform: translateX(285px);
    transform: translateX(285px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }

  .navMenu a:nth-child(5):hover ~ .dot {
    -webkit-transform: translateX(285px);
    transform: translateX(350px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }

  .info{
      background-color: black;
  }

  .float-container {
    border: 3px solid black;
    padding: 20px; 
    display: flex; 
    background-color: black;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid black;
    margin-left: 100px;
    margin-right: 100px;
}  

.container{
    background-color: black;
}

.title{
    text-align: center;
    color: white;
}

.text{
    color: white;
    font-size: 20px;
}

.text2{
    color: white;
    font-size: 10px;
    text-align: justify;
}

.testimonials{
    text-align: center;
    color: white;
}

.text3{
    text-align: center;
    color: white;
    font-size: 20px;
}

#cookieBanner{
  position: fixed;
  bottom: 0px;
  text-align: center;
  width: 100%;
  height: 30vh;
  background-color: black;
}

#cookieTitle{
  color: white;
}

#cookieText{
  color: white;
}

.title_houses{
  color: white;
  text-align: center;
}

#div1_houses{
  text-align: center;
}

#div2_houses{
  display: none;
  text-align: center;
}

#div3_houses{
  display: none;
  text-align: center;
}

#background{
  background-color: black;
}

.button{
  font-size: 10px;
}

.text_5{
  color: white;
}

#form{
  background-color: black;
  /*text-align: center;*/
  margin-left: 20px;
}

.text{
  color: white;
  background-color: black;
}

.query{
  width: 400px;
  height: 200px;
}

#staff, #subjects {
  display: inline-block;
}
